<!DOCTYPE html>
<html>
<body>

<form method = "POST" action="{% url 'usersubmit' %}">

    {% csrf_token %}
  Email:<br>
  <input type="email" name="email" onFocus="value=''">
  <br>
  timezone:<br>
  <input type="text" name="timezone" value="America/Los_Angeles">
    <br>
   first_name:<br>
  <input type="text" name="first_name" value="">
    <br>
     last_name:<br>
  <input type="text" name="last_name" value="">
    <br>
       password:<br>
  <input type="password" name="password" value="">
    <br>
  <br><br>
  <input type="submit" value="Submit">
</form>



</body>
</html>
